<div class="container">
    <h1>About me</h1>
    <p>I live in Poznań, and I like front end development. Outside programming in JavaScript I am interested in <a href="http://lastfm.pl/user/dkl_">music</a>, football and travels.</p>

    <div class="metrics">
        <div class="col-xs-12 col-md-5">
            <table>
                <tr>
                    <td class="property">Age</td>
                    <td>24</td>
                </tr>
                <tr>
                    <td class="property">City</td>
                    <td>Poznań (Poland)</td>
                </tr>
                <tr>
                    <td class="property">Email</td>
                    <td>danielxleszczynski@gmail.com</td>
                </tr>
                <tr>
                    <td class="property">Phone</td>
                    <td>609 525 935</td>
                </tr>
            </table>
        </div>
        <div class="col-xs-12 col-md-7">
            <img src="images/12381154_1014938251911956_10753622_o.jpg" alt=""/>
        </div>
    </div>

    <div class="skills col-xs-12">

        <div class="col-xs-4">
            <h3>Languages</h3>

            <ul>
                <li>
                    HTML 5
                </li>
                <li>
                    CSS / SASS
                </li>
                <li>
                    JavaScript
                </li>
            </ul>
        </div>

        <div class="col-xs-4">
            <h3>Frameworks</h3>

            <ul>
                <li>
                    jQuery
                </li>
                <li>
                    Twitter Bootstrap
                </li>
                <li>
                    AJAX
                </li>
                <li>
                    AngularJS
                </li>
            </ul>
        </div>

        <div class="col-xs-4">
            <h3>Other</h3>

            <ul>
                <li>
                    Gulp
                </li>
                <li>
                    SQL
                </li>
                <li>
                    OOP
                </li>
                <li>
                    WebStorm / PhpStorm
                </li>
                <li>
                    Bitbucket / Github
                </li>
                <li>
                    Jira
                </li>
                <li>
                    actually learn technologies like nodeJS, ES6 and BEM.
                </li>
            </ul>
        </div>
    </div>
</div>