<div class="container">
    <h1>Contact</h1>

    <form method="post" action="/send">

        <div class="col-xs-offset-3 col-xs-6 field">
            <h5>Message</h5>
            <textarea name="message" placeholder="Send me something :)" required></textarea>
        </div>

        <div class="col-xs-offset-3 col-xs-6 field">
            <h5>Name</h5>
            <input type="text" name="name" placeholder="Your name" required/>
        </div>

        <div class="col-xs-offset-3 col-xs-6 field">
            <h5>Email adress</h5>
            <input type="email" name="email" placeholder="Your email adress" required/>
        </div>

        <div class="col-xs-offset-3 col-xs-6 field submit-field">
            <button type="submit" name="submit"> Send </button>
        </div>
    </form>
</div>