<div class="container">
    <h1>Education</h1>
    <div class="col-xs-12 item">
        <div class="col-xs-offset-3 col-xs-3">
            <h4>september 2012 - february 2016</h4>
        </div>
        <div class="col-xs-3">
            <h4>Poznan University of Technology</h4>
            <br>
            IT Engineer
        </div>
    </div>
    <div class="col-xs-12 item">
        <div class="col-xs-offset-3 col-xs-3">
            <h4>september 2008 - july 2012</h4>
        </div>
        <div class="col-xs-3">
            <h4>Electrical High School in Włocławek</h4>
            <br>
            IT Technician
        </div>
    </div>
</div>