<div class="container">
    <ul>
        <li>
            <a href="https://www.facebook.com/leszczynskidaniel">
                <span class="fa fa-facebook"></span>
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/daniel-leszczy%C5%84ski-2a35b210a">
                <span class="fa fa-linkedin"></span>
            </a>
        </li>
        <li>
            <a href="https://github.com/dljs">
                <span class="fa fa-github"></span>
            </a>
        </li>
    </ul>
</div>