<div class="container">
    <p>
        Hi, I'm Daniel Leszczyński<br>
        Front End Developer <br>
        <a href="#contact" class="btn btn-main">Contact me</a>
        <a href="daniel_leszczynski_cv.pdf" class="btn btn-main" download="daniel_leszczynski_cv">Download my CV</a>
    </p>
</div>