<div class="container">
    <ul class="nav nav-pills">
        <li class="active">
            <a href="#home">Home</a>
        </li>
        <li>
            <a href="#about">About me</a>
        </li>
        <li>
            <a href="#experience">Experience</a>
        </li>
        <li>
            <a href="#education">Education</a>
        </li>
        <li>
            <a href="#contact">Contact</a>
        </li>
    </ul>
</div>
