<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head.ejs %>
    </head>
    <body>
        <nav>
            <% include ../partials/nav.ejs %>
        </nav>
        <header id="home">
            <% include ../partials/header.ejs %>
        </header>

        <section id="about">
            <% include ../partials/about.ejs %>
        </section>

        <section id="experience">
            <% include ../partials/experience.ejs %>
        </section>

        <section id="education">
            <% include ../partials/education.ejs %>
        </section>

        <section id="contact">
            <% include ../partials/contact.ejs %>
        </section>

        <footer>
            <% include ../partials/footer.ejs %>
        </footer>

        <script src="javascripts/lib/jquery.js"></script>
        <script src="javascripts/lib/bootstrap.js"></script>
        <script src="javascripts/scripts.js"></script>
    </body>
</html>