.metrics {
    margin: 40px auto 0;
    width: 60%;

    img {
        height: 160px;
        margin: 0 auto;
        display: block;
        box-shadow: 4px 4px 0 $second-color;
    }

    table {
        margin: 0 auto;

        td {
            border: 2px solid darken($main-color, 10%);
            color: $light-text;
            padding: 10px;
            text-align: left;

            &.property {
                background: $second-color;
                color: white;
                font-weight: 700;
                text-align: right;
            }

            ul {
                background: $second-color;
            }
        }
    }
}

.skills {
    margin-top: 80px;

    h3 {
        text-align: center;

        &:before,
        &:after{
            color: $second-color;
            content: '/';
            padding: 0 10px;
        }
    }

    ul {
        list-style-type: none;

        li {
            padding: 6px;

            &:before {
                color: $second-color;
                content: ' - ';
            }
        }
    }
}