.field {
    margin-top:20px;
    text-align: center;

    h5 {
        text-align: left;
    }

    textarea {
        background: none;
        border: 1px solid $second-color;
        height: 200px;
        padding: 20px;
        width: 100%;
    }

    input {
        background: none;
        border: 1px solid $second-color;
        height: 40px;
        padding: 20px;
        width: 100%;
    }
}